{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="palavras chave" />
    <meta name="description" content="Desscrição so site" />
    <link
      rel="stylesheet"
      href="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/styles/webawesome.css"
    />
    <script
      type="module"
      src="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js"
    ></script>

    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />

    <title>Home Metas Pessoais</title>
  </head>

  <body>
    <nav class="nav-bar">
      <wa-button-group label="Alignment">
        <wa-button appearance="outlined" variant="neutral">login</wa-button>
        </br>
        </br>
        <wa-button appearance="outlined" variant="neutral">cadastro</wa-button>
      </wa-button-group>
    </nav>
    
    <br />
    <br />
    <br />
    <main class="main-pr">
      <div class="container-home">
        <h2 class="text-center">
          <italic>Bem vindo ao sistema de metas pessoais</italic>
        </h2>
        <p class="text-center" class="textcolor" class="fst-italic">
          Crie e administre suas metas pessoais
        </p>
        <!--<a href="{% url 'login'%}" class="hre-but"
          ><wa-button appearance="accent" variant="neutral">
            login
          </wa-button></a
        >
        <a href="{% url 'cadastro'%}" class="hre-but"
          ><wa-button appearance="accent" variant="neutral"
            >cadastro</wa-button
          ></a
        >-->
      </div>
    </main>
  </body>
</html>
