{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="palavras chave" />
    <meta name="description" content="Desscrição so site" />
    <title>Login Usuario</title>
    <link
      rel="stylesheet"
      href="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/styles/webawesome.css"
    />
    <script
      type="module"
      src="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js"
    ></script>

    <link
      rel="stylesheet"
      href="{% static 'css/login.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <br />
    <br />
    <br />
    <main class="main-login">
      <form class="login-form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <wa-input
            name="nome"
            label="Digite seu nome de usuario"
            placeholder="nome usuario"
            required
          ></wa-input>
        </div>
        <br />
        <br />
        <div class="mb-3">
          <wa-input
            size="small"
            label="Digite sua senha"
            name="senha1"
            type="password"
            class="form-control"
            placeholder="sua senha"
            password-toggle
            required
          ></wa-input>
        </div>
        <br />
        <wa-button type="submit" appearance="outlined" variant="neutral"
          >Login</wa-button
        >
      </form>
    </main>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"
  ></script>
</html>
