{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="palavras chave" />
    <meta name="description" content="Desscrição so site" />

    <link
      rel="stylesheet"
      href="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/styles/webawesome.css"
    />
    <script
      type="module"
      src="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js"
    ></script>
    <link rel="stylesheet" href="{% static 'css/painel.css' %}" />
    <title>Painel Usario</title>
  </head>
  <body>
    <header>
      <button onclick="inserirestilo()" id="abrir-nav">. > .</button>
      <nav id="nav-lateral">
        <div class="nav-lateral-content">
          <br />

          <span id="user_id"> Bem vindo </span>
          <br />
          <span id="user_id">ao pianel de metas</span>
          <br />
          <br />

          <ul id="items-nav">
            <li class="nav-link">
              <a href="#">
                <span class="item-descricao">Metas Cadastradas</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <span class="item-descricao">Metas excluidas</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <span class="item-descricao">Area usuario</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <span class="item-descricao">Configuraçôes</span>
              </a>
            </li>
          </ul>
        </div>
        <div id="logout">
          <div class="logout-btn">
            <i class=""></i>
            <button id="button-logout" type="button">logout</button>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <h1>Minhas Metas</h1>

      <button class="btn-criar-meta" type="button">+</button>

      <div class="cards">
        <ul>
          {% for goa in goal %}
            <div class="card">
              <li>
                
                  <h3 id="h3-meta">{{ goa.title }}</h3>
                  <p id="p-description">{{ goa.description }}</p>
                  <p class="p-meta">{{ goa.current_value}}0%</p>
                  <p class="p-meta">{{ goa.data_add }}</p>
                  <a href="#" class="btn">Saiba mais</a>
                  <a href="#" class="btn">Saiba mais</a>
                </li>
                
            
         
          </div>
        </ul>
      {% endfor %}
    </div>
  </body>
  <script src="{% static 'js/painel.js' %}"></script>
</html>
